EULA_AGREED=yes
PRIVACY_POLICY_AGREED=yes
USE_KSN={{ KES_USE_KSN }}
LOCALE={{ KES_LOCALE }}
UPDATER_SOURCE={{ KES_UPDATER_SOURCE }}
UPDATE_EXECUTE={{ KES_UPDATE_EXECUTE }}
KERNEL_SRCS_INSTALL={{ KES_KERNEL_SRCS_INSTALL }}
USE_GUI={{ KES_USE_GUI }}
CONFIGURE_SELINUX={{ KES_CONFIGURE_SELINUX }}
ScanMemoryLimit={{ KES_ScanMemoryLimit }}
