KLNAGENT_AUTOINSTALL=1
EULA_ACCEPTED=yes
KLNAGENT_SERVER={{ KLNAGENT_SERVER }}
KLNAGENT_SSLPORT={{ KLNAGENT_SSLPORT }}
KLNAGENT_PORT={{ KLNAGENT_PORT }}
KLNAGENT_USESSL={{ KLNAGENT_USESSL }}
KLNAGENT_VM_OPTIMIZE={{ KLNAGENT_VM_OPTIMIZE }}
KLNAGENT_TAGS={{ KLNAGENT_TAGS }}
